ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  display: inline-block;
  vertical-align: top;
  height: 250px;
  width: 200px;
  border: 6px solid #AFAFAF;
  margin: 1.5em;
  margin-left: 0;
  padding: 1em;
  background: #E9E9E9;
  text-align: center;
}
