ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

ul li {
  display: inline-table;
  vertical-align: bottom;
  height: 100px;
  width: 250px;
  border: 6px solid #AFAFAF;
  margin: 1.5em;
  margin-left: 0;
  padding: 1em;
  background: #E9E9E9;
  text-align: center;
}

ul li img {
  overflow: hidden;
  height: 250px;
  width: 200px;
}

.jumbotron {
    position: static;
    background: #000 url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQ5C_T34nJX4z-EeJmcMbez7PjcOPUGxFsAxwhfM86pW_25dHAV") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    color: white;
    margin-bottom: 0;
}
