<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class='navbar-header'>
      {{#link-to 'store' class="navbar-brand"}}Home{{/link-to}}
      {{#link-to 'cart' class="navbar-brand"}}Cart{{/link-to}}
      {{#link-to 'admin' class="navbar-brand"}}Admin{{/link-to}}
    </div>
  </div>
</nav>

<h2>Wine Shop</h2>

{{outlet}}
